/* CURRENTLY IN: styles/main.css */

.mdl-button {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 200px;
    height: 75px;
}

.button-green {
    background-color: green;
}

.button-blue {
    background-color: blue;
}

.button-red {
    background-color: red;
}

.button-yellow {
    background-color: yellow;
}

.button-start {
    background-color: rgb(204, 204, 255);
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    min-height: 20px;
    border: 1px solid black;
}

.game{
    display: flex;
    border: 1px solid green;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: inline-block;
    padding: 20px;
}


/*
    generic flex-box block
*/

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.flex-box--row {
    flex-direction: row;
}

.flex-box--wrap {
    flex-wrap: wrap;
}

.flex-box__end {
    align-self: flex-end;
}
Status API Training Shop Blog About Pricing
Â© 2015 GitHub, Inc. Terms Privacy Security Contact Help
.change-button-color{
    background-color: purple;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.red{
    background: red;
}

.blink {
  -webkit-animation: blink 2s; /* Safari 4+ */
          animation: blink 2s; 
animation-iteration-count: 1;
}


@-wekit-keyframes blink {

    25% {
        background-color: purple;
    }
    50% {
        background-color: white;
    }
    75% {
        background-color:purple;
    }

}

@keyframes blink {
   
    25% {
        background-color: purple;
    }
    50% {
        background-color: white;
    }
    75% {
        background-color:purple;
    }
    
}